<div id="modal" class="modal" style="display:none">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>Ajouter une nouvelle catégorie</h2>
    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="name">Nom</label>
        <input id="name" formControlName="name" placeholder="Nom de la catégorie" required>
        <div *ngIf="categoryForm.get('name')?.invalid && categoryForm.get('name')?.touched" class="error-message">
          Le nom est requis.
        </div>
      </div>
      <div>
        <label for="color">Couleur</label>
        <input id="color" type="color" formControlName="color" required> 
      </div>
      <div>
        <label for="icon">Icon</label>
        <input id="icon" type="text" formControlName="icon" required  placeholder="Couleur de la catégorie">
        <div *ngIf="categoryForm.get('icon')?.invalid && categoryForm.get('icon')?.touched" class="error-message">
          L'icône est requise.
        </div>
      </div>
      <div>
        <div>
          <a href="https://fonts.google.com/icons" style="color: darkblue;">Lien vers google icon</a>
        </div>
      </div>
      <div class="button-group">
        <button type="button" (click)="closeModal()">Annuler</button>
        <button type="submit" [disabled]="categoryForm.invalid">Ajouter</button>
      </div>
    </form>
  </div>
</div>