<div class="container mx-auto px-4">
  <div class="flex flex-wrap">
    <!-- Colonne de gauche -->
    <div class="w-full md:w-1/2 pr-0 md:pr-4">
      <div class="flex flex-col space-y-4 mt-20">
        <div class="w-full">
          <app-expense-card 
            title="{{ 'HOME.EXPENSES' | translate }}" 
            [amount]="totalExpenses" 
            color="bg-red-400">
          </app-expense-card>
        </div>
        <div class="w-full">
          <app-expense-card 
            title="{{ 'HOME.REVENUES' | translate }}" 
            [amount]="user?.budget || 0" 
            color="bg-green-400">
          </app-expense-card>
        </div>
      </div>
      <app-line-chart [data]="data" [options]="options" (showModal)="showModalDialog()"></app-line-chart>
      <div class="card bg-white p-4 rounded-lg shadow-md mt-4 mb-8">
        <h3 class="text-xl font-bold mb-4">{{ 'HOME.EXPENSES_BY_CATEGORY' | translate }}</h3>
        <ul class="max-h-64 overflow-y-auto  px-4 py-4">
          <li *ngFor="let category of categories" class="mb-4">
            <div class="flex items-center mb-2">
              <i [class]="category.icon" [style.color]="category.color" class="text-2xl mr-2"></i>
              <span class="flex-1">{{ category.name }}</span>
              <span class="text-gray-600">{{ getTotalByCategory(category.name) | currency:'EUR' }} </span>
            </div>
            <p-progressBar [value]="getPercentageByCategory(category.name)" [style]="{height: '18px', width: '100%'}"></p-progressBar>
          </li>
        </ul>
      </div>
    </div>
    <!-- Colonne de droite -->
    <div class="w-full md:w-1/2 pl-0 md:pl-4 mt-4 md:mt-0">
      <app-doughnut-chart [data]="data" [options]="options" [totalExpenses]="totalExpenses" (showModal)="showModalDialog()"></app-doughnut-chart>
      <app-expense-table [expenses]="expenses" (viewDetails)="onViewExpenseDetails($event)"></app-expense-table>
    </div>
  </div>

  <!-- Modal Dialog -->
  <app-add-expense-dialog 
    *ngIf="displayModal"
    [displayModal]="displayModal" 
    [categories]="categories" 
    (addExpense)="onAddExpense($event)" 
    (closeModal)="onCloseModal()">
  </app-add-expense-dialog>
</div>