<div class="card bg-white p-4 rounded-lg shadow-md mt-12 mb-4">
    <div class="flex justify-between items-center">
      <h3 class="text-xl font-bold">{{ 'HOME.DOUGHNUT_CHART' | translate }}</h3>
      <button pButton type="button" icon="pi pi-plus" class="p-button-rounded p-button-success" (click)="showModalDialog()"></button>
    </div>
    <div class="chart-container mt-4 h-full">
      <p-chart type="doughnut" [data]="data" [options]="options" style="height: 50%;"></p-chart>
      <div class="chart-label">
        <div>{{ 'HOME.TOTAL' | translate }}</div>
        <div>{{ totalExpenses | currency:'EUR' }}</div>
      </div>
    </div>
  </div>